{% extends "base.html" %}
{% load static %}


{% block content %}

<div class="container mt-4">
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
            <h5 class="mb-0">Добавить запись</h5>
        </div>
        <div class="card-body">
            <form method="post" action="{% url 'records:create_record' %}">
                {% csrf_token %}
                <div class="mb-3">
                    {{ Form.as_p }}
                </div>
                <button type="submit" class="btn btn-success">Добавить запись</button>
            </form>
        </div>
    </div>
</div>

<!-- js скрипт для динамического определения подкатегорий у категории -->
<script src="{% static 'js/subcategory_filter.js' %}"></script>
<script>
    window.urlGetSubcategories = "{% url 'records:get_subcategories' %}";
</script>

<!-- js скрипт для динамического определения категорий у типа -->
<script src="{% static 'js/category_filter.js' %}"></script>
<script>
    window.urlGetcategories = "{% url 'records:get_categories_by_type' %}";
</script>

{% endblock content %}

